<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>WebHelpDesk</display-name>
  <context-param>
    <param-name>Skin</param-name>
    <param-value>HDConcorsi</param-value>
    <description>
  			Variabile di definizione dello skin attivo
  		</description>
  </context-param>
  <context-param>
    <param-name>resteasy.providers</param-name>
    <param-value>it.cnr.helpdesk.rest.RestSecurity,
			it.cnr.helpdesk.rest.JacksonConfig</param-value>
    <description>
  			Indica a resteasy i providers da prendere in considerazione
  		</description>
  </context-param>
  <context-param>
    <param-name>resteasy.resources</param-name>
    <param-value>it.cnr.helpdesk.rest.ApiRestService,
			it.cnr.helpdesk.rest.CategoryRestService,
			it.cnr.helpdesk.rest.UserRestService,
			it.cnr.helpdesk.rest.ExpertRestService,
			it.cnr.helpdesk.rest.ExternalProblemRestService</param-value>
    <description>
  			Indica a resteasy i servizi da attivare
  		</description>
  </context-param>
  <!-- necessario per indicare a resteasy la root -->
  <context-param>
    <param-name>resteasy.servlet.mapping.prefix</param-name>
    <param-value>/rest</param-value>
    <description>
  			Indica a resteasy il path da intercettare (root)
  		</description>
  </context-param>
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>DEBUG</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>it.cnr.helpdesk.security.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter>
    <filter-name>PageAccessFilter</filter-name>
    <filter-class>it.cnr.helpdesk.security.filters.PageAccessFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ServiceAccessFilter</filter-name>
    <filter-class>it.cnr.helpdesk.security.filters.ServiceAccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PageAccessFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PageAccessFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServiceAccessFilter</filter-name>
    <url-pattern>/app/download/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ServiceAccessFilter</filter-name>
    <url-pattern>/app/reports/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PageAccessFilter</filter-name>
    <url-pattern>/pub/MailConfirm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PageAccessFilter</filter-name>
    <url-pattern>/pub/TicketVerify</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <!-- Servlet definition -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>AttachmentDownload</servlet-name>
    <servlet-class>it.cnr.helpdesk.AttachmentManagement.servlets.AttachmentDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RepositoryDownload</servlet-name>
    <servlet-class>it.cnr.helpdesk.RepositoryManagement.servlets.RepositoryDownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PieChart</servlet-name>
    <servlet-class>it.cnr.helpdesk.charts.servlets.PieChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MeterChart</servlet-name>
    <servlet-class>it.cnr.helpdesk.charts.servlets.MeterChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HorizontalBarChart</servlet-name>
    <servlet-class>it.cnr.helpdesk.charts.servlets.HorizontalBarChartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MailConfirm</servlet-name>
    <servlet-class>it.cnr.helpdesk.MailParserManagement.servlets.MailConfirm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TicketVerify</servlet-name>
    <servlet-class>it.cnr.helpdesk.MailParserManagement.servlets.TicketVerify</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttachmentDownload</servlet-name>
    <url-pattern>/app/download/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RepositoryDownload</servlet-name>
    <url-pattern>/app/reports/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PieChart</servlet-name>
    <url-pattern>/app/PieChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MeterChart</servlet-name>
    <url-pattern>/app/MeterChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HorizontalBarChart</servlet-name>
    <url-pattern>/app/HorizontalBarChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MailConfirm</servlet-name>
    <url-pattern>/pub/MailConfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TicketVerify</servlet-name>
    <url-pattern>/pub/TicketVerify</url-pattern>
  </servlet-mapping>
  <!-- Session Configuration -->
  <session-config>
    <session-timeout>500</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <!-- Tag library definitions -->
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <!-- EJB reference definition -->
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/UserManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.UserManagement.ejb.UserManagementHome</home>
    <remote>it.cnr.helpdesk.UserManagement.ejb.UserManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/CategoryManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.CategoryManagement.ejb.CategoryManagementHome</home>
    <remote>it.cnr.helpdesk.CategoryManagement.ejb.CategoryManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/ProblemManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.ProblemManagement.ejb.ProblemManagementHome</home>
    <remote>it.cnr.helpdesk.ProblemManagement.ejb.ProblemManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/FaqManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.FaqManagement.ejb.FaqManagementHome</home>
    <remote>it.cnr.helpdesk.FaqManagement.ejb.FaqManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/StatisticsManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.StatisticsManagement.ejb.StatisticsManagementHome</home>
    <remote>it.cnr.helpdesk.StatisticsManagement.ejb.StatisticsManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/MessageManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.MessageManagement.ejb.MessageManagementHome</home>
    <remote>it.cnr.helpdesk.MessageManagement.ejb.MessageManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/UOManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.UOManagement.ejb.UOManagementHome</home>
    <remote>it.cnr.helpdesk.UOManagement.ejb.UOManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/StateMachineManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.StateMachineManagement.ejb.StateMachineManagementHome</home>
    <remote>it.cnr.helpdesk.StateMachineManagement.ejb.StateMachineManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/EventManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.EventManagement.ejb.EventManagementHome</home>
    <remote>it.cnr.helpdesk.EventManagement.ejb.EventManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/RepositoryManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.RepositoryManagement.ejb.RepositoryManagementHome</home>
    <remote>it.cnr.helpdesk.RepositoryManagement.ejb.RepositoryManagement</remote>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>comp/env/ejb/MailParserManagement</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>it.cnr.helpdesk.MailParserManagement.ejb.MailParserManagementHome</home>
    <remote>it.cnr.helpdesk.MailParserManagement.ejb.MailParserManagement</remote>
  </ejb-ref>
</web-app>
